@model PlatformaSocialBookmarking.Models.Image

<h2 class="text-center mt-5">Adaugare postare</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Images",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Description", "Descrierea postarii")
                <br />
                @Html.TextBox("Description", null, new { @class = "form-control" })

                <br />



                @Html.Label("Url", "Url ul pozei")
                <br />
                @Html.TextArea("Url", null, new { @class = "form-control" })

                @Html.ValidationMessage("Url", null, new { @class = "text-danger" })
                <br />

                <br />



                <label>Selectati categoria</label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                                     "Selectati categoria", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-success" type="submit">Adauga postare</button>

            }

        </div>
    </div>
</div>




