@model List<PlatformaSocialBookmarking.Models.Bookmark>

@{
    ViewData["Title"] = "Your profile";
}

<link rel="stylesheet" href="~/css/Profile/Index.css" />

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="center">
        <div class="profile">
            <div class="profile_picture">
                <img src="~/images/profile_pic_placeholder.png" />
            </div>
            <div class="profile_info">
                <h3>@ViewBag.User?.UserName</h3>
                <p>Bookmarks: @Model.Count</p>

            </div>
            <div class="circle"></div>
        </div>
    </div>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-info">
            @TempData["message"]
        </div>
    }





    <div class="row">
        @foreach (var bookmark in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <h3>@bookmark.Title</h3>
                    @if (bookmark.Bookmark_Has_Images != null && bookmark.Bookmark_Has_Images.Any())
                    {
                        <img src="@bookmark.Bookmark_Has_Images.First()?.Image?.Url" alt="Image" class="img-thumbnail" id="mainImage-@bookmark.Id" />
                    }
                    <div class="cover-overlay"></div>

                    <div class="card-footer">
                        @if (bookmark.Bookmark_Has_Categories != null && bookmark.Bookmark_Has_Categories.Any(bhc => bhc.Category.UserId == ViewBag.User.Id))
                        {
                            <p class="category-text">Category: @bookmark.Bookmark_Has_Categories.First(bhc => bhc.Category.UserId == ViewBag.User.Id)?.Category?.CategoryName</p>
                        }
                    </div>
                    <div class="buttons">
                        <a asp-controller="Bookmarks" asp-action="Show" asp-route-id="@bookmark.Id" class="btn btn-primary">Show Bookmark</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>