@model IEnumerable<PlatformaSocialBookmarking.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/Categories/New.css" />
<link rel="stylesheet" href="~/css/Categories/Index.css" />


<h2>@ViewData["Title"]</h2>

@if (TempData["message"] != null)
{
    <div class="alert alert-info">
        @TempData["message"]
    </div>
}

<a asp-action="New" class="btn btn-success">Add New Category</a>

<div class="row">
    <div calss="image-container">
    @foreach (var category in Model)
    {

            <div class="card">

                <h3>@category.CategoryName</h3>

                <img src="@category.CoverUrl" alt="Image" class="img-thumbnail" id="mainImage-@category.Id" />


                <div class="cover-overlay"></div>

                <div class=" =buttons">
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                    <form asp-action="Delete" asp-route-id="@category.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </div>
            </div>

    }
    </div>
</div>
