@model IEnumerable<PlatformaSocialBookmarking.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<link rel="stylesheet" href="~/css/Categories/Index.css" />


<h2>@ViewData["Title"]</h2>

@if (TempData["message"] != null)
{
    <div class="alert alert-info">
        @TempData["message"]
    </div>
}

<div class="padding">
    <a asp-action="New" class="btn2" style="background-color:white; color: black">Add New Category</a>
</div>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">

                <h3>@category.CategoryName</h3>

                <img src="@category.CoverUrl" alt="Image" class="img-thumbnail" id="mainImage-@category.Id" />

                <div class="cover-overlay"></div>

             
                <div class=" =buttons">
                    <form asp-action="Delete" asp-route-id="@category.Id" method="post" >
                        <button type="submit" class="btn" style="left:16%" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </div>
            </div>
        </div>

    }
</div>
