@model PlatformaSocialBookmarking.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["message"] != null)
{
    <div class="alert alert-info">
        @TempData["message"]
    </div>
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoverUrl)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
