@model List<PlatformaSocialBookmarking.Models.Bookmark>

@{
    ViewData["Title"] = "Bookmarks";

    <link rel="stylesheet" href="~/css/Bookmarks/Index.css" />

}


<div class="container">
    <h2>@ViewData["Title"]</h2>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-info">
            @TempData["message"]
        </div>
    }

    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control"
                   placeholder="Search topics or keywords" name="search"
                   value="@ViewBag.SearchString">
            <button class="btn btn-outline-success"
                    type="submit">
                Search
            </button>
        </div>
    </form>


    <a asp-controller="Bookmarks" asp-action="New" class="btn-add">New Bookmark</a>

    <div class="row">
        @foreach (var bookmark in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">

                    <h3>@bookmark.Title</h3>
               
                    @if (bookmark.Bookmark_Has_Images != null && bookmark.Bookmark_Has_Images.Any())
                    {
                        <img src="@bookmark.Bookmark_Has_Images.First()?.Image?.Url" alt="Image" class="img-thumbnail" id="mainImage-@bookmark.Id" />
                    }

                    <div class="cover-overlay"></div>

                    <div class="card-footer">
                        <p class="user-text">Created by: @bookmark.User?.UserName</p>
                        @if (bookmark.Bookmark_Has_Categories != null && bookmark.Bookmark_Has_Categories.Any())
                        {
                            <p class="category-text">Category: @bookmark.Bookmark_Has_Categories.First()?.Category?.CategoryName</p>
                        }
                    </div>
                    <div class=" =buttons">
                        <a asp-controller="Bookmarks" asp-action="Show" asp-route-id="@bookmark.Id" class="btn btn-primary">Show Bookmark</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
