@model PlatformaSocialBookmarking.Models.Bookmark

@{
    ViewData["Title"] = "New Bookmark";
}

<link rel="stylesheet" href="~/css/Bookmarks/New.css" />

<div class="form-wrapper">
    <h2>@ViewData["Title"]</h2>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-info">
            @TempData["message"]
        </div>
    }

    <form asp-action="New" method="post">
        <div class="form-group">
            <label asp-for="Title" class="control-label">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Category</label>
            @Html.DropDownList("selectedCategory", ViewBag.UserCategories as SelectList, "Select Category", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label class="selected-label">Select Images</label>
            <br />
            @if (ViewBag.UserImages != null && ViewBag.UserImages.Count > 0)
            {
                @foreach (var image in ViewBag.UserImages)
                {
                    <div class=" images-wrapper">
                        <div class="imageContainer">
                            <input type="checkbox" name="selectedImages" value="@image.Id" style="display:none;" />
                            <img src="@image.Url" alt="Selected Image" class="img-thumbnail" />

                            <div class="overlay">
                                <span class="bookmarkIcon">&#9733;</span>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert-warning">
                    <div id="missing_content">No images available.</div>
                    <a class="app-link" , asp-controller="Images" asp-action="New">Go to New Image</a>
                </div>
            }
        </div>




        <button type="submit" class="btn-btn-primary">Create Bookmark</button>
    </form>
</div>



<script>

    const imageContainers = document.querySelectorAll('.imageContainer');

    imageContainers.forEach(imageContainer => {
        imageContainer.addEventListener('click', () => {
            const checkbox = imageContainer.querySelector('input[type="checkbox"]');
            checkbox.checked = !checkbox.checked;
            imageContainer.classList.toggle('bookmarked');
        });
    });
</script>